<a href="https://colab.research.google.com/github/OleFlow/Prediction-of-Product-Sales/blob/main/Prediction_of_Product_Sales.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Prediction of Product Sales

- Author: Olebogeng Queeneth Mosito

##Project Overview

##Load and Inspect Data

In [4]:
import pandas as pd

# Load data from CSV file
df = pd.read_csv('/content/drive/MyDrive/CodingDojo/01-Fundamentals/Week02/Data/sales_predictions_2023.csv')

# Summary of DataFrame's columns
print("Column info:")
print(df.info())

print("First few rows of the data:")
print(df.head())

Column info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB
None
First few rows of the data:
  Item_Identifier  Item_Weight Item_Fat_Content  Item_Visibility  \
0           FDA15         9.30          Low Fat         0.016047
1           DRC01         5.92          Regular         0.019278
2           FDN15        17.50          Low Fat         0.016760
3           FDX07        19.20          Regular         0.000000
4           NCD19         8.93          Low Fat         0.000000

               Item_Type  Item_MRP Outlet_Identifier  \
0                  Dairy  249.8092            OUT049
1            Soft Drinks   48.2692            OUT018
2                   Meat  141.6180            OUT049
3  Fruits and Vegetables  182.0950            OUT010
4              Household   53.8614            OUT013

   Outlet_Establishment_Year Outlet_Size Outlet_Location_Type  \
0                       1999      Medium               Tier 1
1                       2009      Medium               Tier 3
2                       1999      Medium               Tier 1
3                       1998         NaN               Tier 3
4                       1987        High               Tier 3

         Outlet_Type  Item_Outlet_Sales
0  Supermarket Type1          3735.1380
1  Supermarket Type2           443.4228
2  Supermarket Type1          2097.2700
3      Grocery Store           732.3800
4  Supermarket Type1           994.7052

##Clean Data

In [19]:
df['Item_Weight'].fillna(df['Item_Weight'].mean(), inplace=True)
df.dropna(subset=['Outlet_Size'], inplace=True)
df.reset_index(drop=True, inplace=True)
print(df.head())

num_rows = df.shape[0]
num_columns = df.shape[1]

print("Number of rows:", num_rows)
print("Number of columns:", num_columns)

data_types = df.dtypes

print(data_types)

duplicates = df.duplicated()

if duplicates.any():
    print("Duplicates found.")
    df.drop_duplicates(inplace=True)
    df.reset_index(drop=True, inplace=True)

missing_values = df.isnull().sum()

print(missing_values)

df_filled = df.fillna("Unknown")
placeholder_values = {
    'Outlet_Size': 'Not Available',
    'Item_Weight': 0
}

df_filled = df.fillna(placeholder_values)

missing_values = df_filled.isnull().sum()

if missing_values.sum() == 0:
    print("No missing values remain.")
else:
    print("Missing values still exist.")
    print(missing_values)


# Define a mapping dictionary for inconsistent categories
category_mapping = {
    'LF': 'Low Fat',
    'reg': 'Regular',

}

# Use the mapping dictionary to replace inconsistent categories
df['Item_Fat_Content'] = df['Item_Fat_Content'].replace(category_mapping)

numerical_columns = df.select_dtypes(include=['float64', 'int64'])


min_values = numerical_columns.min()
print(min_values)

max_values = numerical_columns.max()
print(max_values)

mean_values = numerical_columns.mean()

print(mean_values)

  Item_Identifier  Item_Weight Item_Fat_Content  Item_Visibility  \
0           FDA15        9.300          low fat         0.016047
1           DRC01        5.920          regular         0.019278
2           FDN15       17.500          low fat         0.016760
3           NCD19        8.930          low fat         0.000000
4           FDP36       10.395          regular         0.000000

      Item_Type  Item_MRP Outlet_Identifier  Outlet_Establishment_Year  \
0         Dairy  249.8092            OUT049                       1999
1   Soft Drinks   48.2692            OUT018                       2009
2          Meat  141.6180            OUT049                       1999
3     Household   53.8614            OUT013                       1987
4  Baking Goods   51.4008            OUT018                       2009

  Outlet_Size Outlet_Location_Type        Outlet_Type  Item_Outlet_Sales
0      Medium               Tier 1  Supermarket Type1          3735.1380
1      Medium               Tier 3  Supermarket Type2           443.4228
2      Medium               Tier 1  Supermarket Type1          2097.2700
3        High               Tier 3  Supermarket Type1           994.7052
4      Medium               Tier 3  Supermarket Type2           556.6088
Number of rows: 6113
Number of columns: 12
Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object
Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64
No missing values remain.
Item_Weight                     4.5550
Item_Visibility                 0.0000
Item_MRP                       31.2900
Outlet_Establishment_Year    1985.0000
Item_Outlet_Sales              33.9558
dtype: float64
Item_Weight                     21.350000
Item_Visibility                  0.328391
Item_MRP                       266.888400
Outlet_Establishment_Year     2009.000000
Item_Outlet_Sales            13086.964800
dtype: float64
Item_Weight                    12.888856
Item_Visibility                 0.064505
Item_MRP                      141.256859
Outlet_Establishment_Year    1995.794373
Item_Outlet_Sales            2322.688445
dtype: float64

##Explanatory Data Analysis

##Exploratory Data Analysis